


.arc text {
  font: 20px sans-serif;
  text-anchor: middle;
}


.arc path {
  stroke: #fff;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 50px sans-serif;
    padding: 5px;
    text-align: center;
}

h2{
  text-align:center;
  font:90px sans-serif;

}

.bar { 
position:relative;
fill: red; }


div.piecharts{
position:absolute;

}



div#area1{
  position:absolute;
  left:500px;
  top:300px;

}

div#area2{
  position:absolute;
  right:700px;
  top:300px;
}

div#area3{
  position:absolute;
  top:300px;
}

div#area4{
  position:absolute;
  left:300px;
  top:300px;
}

.btn1{
  position:absolute;
  right:10px;
  top:200px;
}
.btn2{
  position:absolute;
  right:10px;
  top:250px;
}
.btn3{
  position:absolute;
  right:10px;
  top:150px;
}

.btn4{
  position:absolute;
  right:10px;
  top:300px;
}





.text-area{
  position:absolute;
  text-align:center;
}

p{
  position:relative;
  top:300px;
  text-align:center;
  left:300px
}

