<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Twitter app</title>
    <!-- Bootstrap -->
    <!-- Custom styling -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>





</head>
<body id="parentID">




<nav class="navbar bg-dark">
<a href ="/" class="navbar-brand">PresidentTrumpTwitterTweets</a>
<ul class ="navbar-nav">
<li class="nav-item"><a href="/about" class="nav-link"> About</a></li>
</ul>
</nav>

<div class=" box" id="bx">
<div class="display-cards"></div>
</div>

<div class="container"> 
  <button type="button" class="btn btn-primary btn17" id="nq">New Query</button>

<div class="btn-group menu-slide-1" role="group" aria-label="Button group with nested dropdown">
<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">2017 tweets</button>
<div class="dropdown-menu round" id="d-down-1" >  

  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Jan>January</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Feb >February</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Mar >March</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Apr >April</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=May >May</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Jun >June</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Jul >July</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Aug >August</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Sept >September</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Oct >October</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Nov >November</button>
  <button type="button" class="btn btn-primary btn17" id="drp17" data-panelid=Dec >December</button>
</div>
</div>



<div class="btn-group menu-slide-2" role="group" aria-label="Button group with nested dropdown">
<button id="btnGroupDrop1 year-button-2" type="button" class="btn btn-primary dropdown-toggle bt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">2018 tweets</button>
  <div class="dropdown-menu round" id="d-down-2" >
    <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Jan >January</button>
   <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Feb >February</button>
  <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Mar >March</button>
  <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Apr >April</button>
  <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=May >May</button>
  <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Jun >June</button>
  <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Jul >July</button>
  <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Aug >August</button>
  <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Sept >September</button>
  <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Oct >October</button>
  <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Nov >November</button>
  <button type="button" class="btn btn-primary btn18" id="drp18" data-panelid=Dec >December</button>
  </div>
  </div>

  <div class="btn-group menu-slide-3" role="group" aria-label="Button group with nested dropdown">
<button id="btnGroupDrop3" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">2019 tweets</button>
  <div class="dropdown-menu round" id="d-down-3" >
    <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Jan >January</button>
   <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Feb >February</button>
  <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Mar >March</button>
  <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Apr >April</button>
  <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=May >May</button>
  <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Jun >June</button>
  <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Jul >July</button>
  <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Aug >August</button>
  <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Sept >September</button>
  <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Oct >October</button>
  <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Nov >November</button>
  <button type="button" class="btn btn-primary btn19" id="drp18" data-panelid=Dec >December</button>
</div></div>

<div class="btn-group" id="#search">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Search
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/search">By Date</a>
    <a class="dropdown-item" href="/wordSearch">By Specific word</a>
    <a class="dropdown-item" href="/sentimentSearch">By Sentiment</a>

  </div>
</div>



<div class="latest-tweet rounded">
<h5>Latest Tweet</h5>
<h6 id="latest-created-tweet">Latest Tweet</h6>

  <blockquote>
    <p id="content"></p>

  </blockquote>
  </div>
</div>



<!-- External JS libraries -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/min.js/app.min.js') }}"></script>

<!-- Custom JS -->
</body>

</html>
